.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: var(--color);
}

#light {
  background-color: #f3ebf6;
}

#dark {
  background-color: #14021b;
  color: #fff;
}
